<?xml version="1.0" encoding="UTF-8" ?>
<module>
 <name>moodlecon</name>
 <displayName><![CDATA[Moodle Connector]]></displayName>
 <version><![CDATA[0.0.1]]></version>
 <description><![CDATA[Allows to enrol customers into your Moodle School's courses, after buying the enrolment in PrestaShop]]></description>
 <author><![CDATA[Carlos Cid]]></author>
 <tab><![CDATA[administration]]></tab>
 <confirmUninstall><![CDATA[Are you sure you want to uninstall this module?]]></confirmUninstall>
 <is_configurable>1</is_configurable>
 <need_instance>1</need_instance>
 <limited_countries></limited_countries>
</module>
